<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />

  {{ partial "meta.html" . }}

  <title>{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ $sitetitle := .Site.Title }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $sitetitle }}" />
  {{ end }}
  {{ partial "head_includes.html" . }}
</head>

<body lang="{{ .Site.LanguageCode }}" style="padding-top: 1em;">
  <section id="main" class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
    style="
      margin-top: 0 !important;
      min-height: calc(100% - var(--footer-height) - var(--margin-bottom));
    "
  >
    <div>
      <h1 id="title" class="f3" style="margin-top: 0;">
        {{ .Site.Title }} {{ .Site.Params.TitleEmoji | emojify }}

        <img style="height: 30px; position: relative; top: 7px;" src="https://www.gravatar.com/avatar/677f6ada59932964b9150aba814fedd6?s=100&d=identicon" />
      </h1>

      <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ .Content }}
      </article>
    </div>
  </section>

  {{ partial "footer.html" . }}
</body>

<!-- layout: index.html -->
</html>
