*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea


*~
octopress_site_source/_includes/*
octopress_site_source/_layouts/*
octopress_site_source/assets/*
octopress_site_source/atom.xml
octopress_site_source/blog/*
octopress_site_source/font/*
octopress_site_source/images/*
octopress_site_source/javascripts/*
octopress_site_source/stylesheets/*
octopress_site_source/robots.txt
octopress_site_source/robots.txt
octopress_site_source/default.html
octopress_site_source/index.html
octopress/*
