a {
	color: black;
        text-decoration: underline grey;
}

a:hover {
	color: blue;
        text-decoration: underline blue;
}

a.no-underline {
	text-decoration: none;
}

div.highlight pre code {
	border: 1px solid #CCCCCC;
}


code {
	color: #2b6372;
}