{{ partial "header.html" . }}

<body lang="{{ .Site.LanguageCode }}">
  <nav class="container">
    <span class="breadcrumbs">
      <a href="{{ .Site.Home.RelPermalink }}" class="breadcrumb">{{ .Site.Title }}</a>
    </span>
  </nav>

  <main class="container">
    <div>
      <ul id="content-list">
        {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink}}">{{ .Title }}</a>
          <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
  </main>

  {{ partial "footer.html" . }}
  </body>

<!-- layout: tweets/list.html -->
</html>
