{{ partial "header.html" . }}


<body lang="{{ .Site.LanguageCode }}">
  <nav class="container">
    <span class="breadcrumbs">
      <a href="{{ .Site.Home.RelPermalink }}" class="breadcrumb">{{ .Site.Title }}</a>
      {{ with .Site.GetPage "/tweets" }}
      <a href="{{ .RelPermalink  }}" class="breadcrumb">tweets</a>
      {{ end }}
    </span>
  </nav>

  <main class="container">
    <span>
        <span class="post-date" style="font-weight: bold;">
            <a href="https://twitter.com/williballenthin/status/{{ .Slug }}" style="text-decoration: none; color: grey; ">
                {{ .Date.Format "January 2, 2006" }}
            </a>
        </span>

        &nbsp;
        &nbsp;

        <span class="tweet-tags">
            {{ range (.GetTerms "tags") }}
                <span class="tweet-tag">
                    <a href="{{ .RelPermalink }}" style="color: gray;">
                        #{{ .LinkTitle }}
                    </a>
                </span>
                &nbsp;
            {{ end }}
        </span>
    </span>

    <div id="content">
        <blockquote style="margin: 0;">
          {{ .Content }}

          {{ range $.Params.images }}
              <img src="/img/tweets/{{ . }}" width="100%">
          {{ end }}
        </blockquote>

        <div style="float: right;">
            <i>
                @williballenthin
            </i>
        </div>
    </div>
</main>

  {{ partial "footer.html" . }}
</body>

<!-- layout: tweets/single.html -->
</html>
