{{ partial "header.html" . }}

<body lang="{{ .Site.LanguageCode }}">
  <nav class="sans-serif w-90 w-80-m w-60-ns center">
    <span class="breadcrumbs">
      <a href="{{ .Site.Home.RelPermalink }}" class="breadcrumb">{{ .Site.Title }}</a>
      {{ with .Site.GetPage "/posts" }}
      <a href="{{ .RelPermalink  }}" class="breadcrumb">blog</a>
      {{ end }}
    </span>
  </nav>

  <section id="main" class="post sans-serif w-90 w-80-m w-60-ns center mv2 mv4-ns aa">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <span id="post-tags" class="f6 gray">
        <span class="post-date">
            {{ .Date.Format "January 2, 2006" }}
        </span>

        &nbsp;
        &nbsp;

        <span class="post-tags">
            {{ range (.GetTerms "tags") }}
                <span class="post-tag">
                    <a href="{{ .RelPermalink }}" style="color: gray;">
                        #{{ .LinkTitle }}
                    </a>
                </span>
                &nbsp;
            {{ end }}
        </span>
    </span>

    <article itemprop="articleBody" id="content" class="w-90 lh-copy">
      {{ .Content }}
    </article>

    <!-- last modified note -->
    <span class="f6 gray mv3"
      title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
      {{ if ne .Lastmod .PublishDate }}
      <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
      {{ end }}
    </span>

    {{ if and (.Site.Taxonomies.series) (isset .Params "series") }}
    <section class="mt4">
      {{ $readMore := ":wave:" }}
      {{ $series := .Params.series | urlize}}
      <h3>{{ $readMore | emojify }} Related posts in the <a href="/series/{{ $series }}"
          class="b bb bw1 pb1 no-underline black">{{ .Params.Series }}</a> series...</h3>

      {{ $posts := index .Site.Taxonomies.series $series }}

      {{ if (gt ($posts | len) 1)}}
      <ul class="list pl0">
        {{ range where $posts "Title" "!=" .Title }}
        <li class="list pl0 lh-copy">
          <a class="f4 b dib black no-underline" href="{{ .RelPermalink}}">{{ .Title }}</a>
          <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
      </ul>
      {{ else }}
      <div class="ph2 i">
        No follow up posts yet. Check back soon!
      </div>
      {{ end }}
    </section>
    {{ end }}

  </section>

  {{ partial "footer.html" . }}
</body>

<!-- layout: posts/single.html -->
</html>
