{{ partial "header.html" . }}

<body lang="{{ .Site.LanguageCode }}">
  <nav class="container">
    <span class="breadcrumbs">
      <a href="{{ .Site.Home.RelPermalink }}" id="site-name" class="breadcrumb">{{ .Site.Title }}</a>
      {{ with .Site.GetPage "/posts" }}
      <a href="{{ .RelPermalink  }}" class="breadcrumb">blog</a>
      {{ end }}
    </span>
  </nav>

  <main class="container post">
    <h1 id="title">{{ .Title }}</h1>
    <span id="post-tags">
        <span class="post-date">
            {{ .Date.Format "January 2, 2006" }}
        </span>

        &nbsp;
        &nbsp;

        <span class="post-tags">
            {{ range (.GetTerms "tags") }}
                <span class="post-tag">
                    <a href="{{ .RelPermalink }}">
                        #{{ lower .LinkTitle }}
                    </a>
                </span>
                &nbsp;
            {{ end }}
        </span>
    </span>

    <div id="content" style="margin-top: 2em;">
      {{ .Content }}
    </div>

    <!-- last modified note -->
    <span
      title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
      {{ if ne .Lastmod .PublishDate }}
      <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
      {{ end }}
    </span>
  </main>

  {{ partial "footer.html" . }}
</body>

<!-- layout: posts/single.html -->
</html>
