:root {
  /* keep in sync with meta.html theme-color */
  --main-highlight-color: #85cba3;
  --main-decoration-color: #CCCCCC;
  --nav-height: 36px;
  --footer-height: 12px;
  --max-width: 1000px;
}

@font-face {
  font-family: 'IntelOneMono';
  src: url('../font/intelone-mono-font-family-regular.woff2') format('woff2');
}

a {
	color: black;
	text-decoration: underline var(--main-decoration-color);
}

a:hover {
	color: black;
	text-decoration: underline var(--main-highlight-color);
}

.highlight pre code {
	border: 1px solid var(--main-decoration-color);
	display: block;
	padding: 1em;
	overflow-x: scroll;
}

code {
	color: #444;
	font-family: IntelOneMono;
}

blockquote {
	border-left: 4px solid var(--main-decoration-color);
	padding-left: 1em;
}

ol, ul {
	margin-left: 1em;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

p, ul, table, code {
	margin-bottom: 1em;
	margin-top: 1em;
}

li > ul,
li > ol {
	margin-top: 0;
	margin-bottom: 0;
}

td {
    border: 1px solid var(--main-decoration-color);
    padding: 0 0.5em;
}

th {
    border: 1px solid var(--main-decoration-color);
    padding: 0 0.5em;
    font-weight: bold;
    text-align: left;
}


h1, h2, h3 {
	font-weight:  bold;
}

nav {
	height: var(--nav-height);
	max-width: var(--max-width);
	padding-top: 12px;
}


nav .breadcrumbs {
	--breadcrumb-separator-width: 12px;
}

nav .breadcrumbs .breadcrumb {
	font-weight: bold;
	text-decoration: none;
	margin-left: var(--breadcrumb-separator-width);
}

nav .breadcrumbs .breadcrumb:hover {
	color: black;
	border-bottom: 2px solid var(--main-highlight-color);
}

nav .breadcrumbs .breadcrumb::before {
	content: '› ';
	font-size: 20px;
	/* match with main content margin-left */
	margin-left: calc(-1 * var(--breadcrumb-separator-width));
	color: var(--main-highlight-color);
}

#main {
	--margin-top: 2em;
	--margin-bottom: 2em;
	margin-top: var(--margin-top);
	margin-bottom: var(--margin-bottom);
	min-height: calc(100% - var(--nav-height) - var(--footer-height) - var(--margin-bottom) - var(--margin-top));
	max-width: var(--max-width);
}

html, body {
	height: 100%;
}

body {
	border-top: 3px solid var(--main-highlight-color);
}

footer {
	position: relative;
	height: var(--footer-height);
	background-image: url("../img/more-leaves-on-green.png");
	background-size: 250px;
	border-top: 2px solid var(--main-highlight-color);
}

.post #title {
	margin-bottom: 0;
}

.post #post-tags {
	display:  inline-block;
	margin-top: 0.5em;
	margin-bottom: 2em;
}