:root {
  /* keep in sync with meta.html theme-color */
  --main-highlight-color: #85cba3;
  --main-decoration-color: #CCCCCC;
}

/* default (light) */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--main-highlight-color: #85cba3;
	--main-decoration-color: #666666;

	--pico-primary: var(--main-decoration-color);
	--pico-primary-hover: var(--main-highlight-color);
	--pico-primary-focus: var(--main-highlight-color);
	--pico-primary-underline: var(--main-highlight-color);
	--pico-primary-hover-underline: var(--main-highlight-color);
	--pico-primary-inverse: #FFF;
}

/* prefers dark */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--main-highlight-color: #85cba3;
		--main-decoration-color: #AAAAAA;

		--pico-primary: var(--main-decoration-color);
		--pico-primary-hover: var(--main-highlight-color);
		--pico-primary-focus: var(--main-highlight-color);
		--pico-primary-underline: var(--main-highlight-color);
		--pico-primary-hover-underline: var(--main-highlight-color);
		--pico-primary-inverse: #FFF;
	}
}

/* forced dark */
[data-theme="dark"] {
	--main-highlight-color: #85cba3;
	--main-decoration-color: #AAAAAA;

	--pico-primary: var(--main-decoration-color);
	--pico-primary-hover: var(--main-highlight-color);
	--pico-primary-focus: var(--main-highlight-color);
	--pico-primary-underline: var(--main-highlight-color);
	--pico-primary-hover-underline: var(--main-highlight-color);
	--pico-primary-inverse: #FFF;
}

:root {
	--pico-font-family-emoji: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--pico-font-family-serif: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
	--pico-font-family-sans-serif: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--pico-font-family-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
	--pico-font-family: var(--pico-font-family-serif);
}


/* ########### code blocks ################# */ 

.highlight pre {
	/* override pico */
	border-radius: 0;
}

.highlight pre code {
	border: 1px solid var(--main-decoration-color);
	border-radius: 0;
	display: block;
	padding: 1em;
	overflow-x: auto;
}

/* prefers dark */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) .highlight pre {
		/* override inline style set by code renderer */
		background-color: transparent !important;
	}
	:root:not([data-theme]) .highlight pre code {
		/* invert text color so that the light-themed text sorta works on dark background */
		filter: invert(100%);
	}
}

/* forced dark */
[data-theme="dark"] .highlight pre {
	/* override inline style set by code renderer */
	background-color: transparent !important;
}
[data-theme="dark"] .highlight pre code {
	/* invert text color so that the light-themed text sorta works on dark background */
	filter: invert(100%);
}

/* ############# other elements ################## */

nav {
	padding-top: 12px;
	margin-bottom: 1em;
	font-family: var(--pico-font-family-sans-serif);
}

nav .breadcrumbs {
	--breadcrumb-separator-width: 12px;
}

nav .breadcrumbs .breadcrumb {
	font-weight: bold;
	text-decoration: none;
	margin-left: var(--breadcrumb-separator-width);
}

nav .breadcrumbs .breadcrumb:first-child {
	font-family: var(--pico-font-family-sans-serif);
	color: var(--main-highlight-color);
}

nav .breadcrumbs .breadcrumb::before {
	content: '› ';
	font-size: 20px;
	/* match with main content margin-left */
	margin-left: calc(-1 * var(--breadcrumb-separator-width));
	color: var(--main-highlight-color);
}

/* sticky footer, from here: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers */
html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

nav, footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

/* end sticky footer */

body {
	border-top: 3px solid var(--main-highlight-color);
}

body > footer {
	height: 12px;
	background-image: url("../img/more-leaves-on-green.png");
	background-size: 250px;
	background-repeat: repeat-x;
	border-top: 2px solid var(--main-highlight-color);
	padding: 0;
	padding-block: 0;
}

.decoration {
	color: var(--main-decoration-color);
	font-size: smaller;
}

/* hugo list templates */

.content-list {
	margin-left: 0;
	list-style: none;
	padding-left: 0.5em;
}

.content-list li {
	line-height: 1.0; 
	margin-bottom: 1em;
}

.content-list li a {
	font-size: larger;
	display: inline-block;
	width: 100%;
}

.content-list li span.date {
	font-size: smaller;
	color: grey;
	font-variant: small-caps;
}

/* post specifics */

nav.container,
main.container {
	max-width: 36em;
}

.post h1#title {
	margin-bottom: 0;
}

.post .post-date {
	font-size: smaller;
	font-variant: small-caps;
}

.post #post-tags {
	display:  inline-block;
	font-size: smaller;
	font-family: var(--pico-font-family-sans-serif);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
